<html>
	<header>Create post</header>
	<p></p>
	<form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="content">Share your thoughts:</label>
      <input id="content" formControlName="content" type="text" />
      <div *ngIf="formControls['content'].invalid && formControls['content'].touched">Content is required.</div>
    </div>
    <div>
      <label for="image">Image</label>
      <input id="image" (change)="onFileSelected($event)" type="file" />
      <div *ngIf="formControls['image'].invalid && formControls['image'].touched">Image is required.</div>
    </div>
	<div>
      <label for="location_x">Location X:</label>
      <input id="location_x" formControlName="location_x" type="number" />
      <div *ngIf="formControls['location_x'].invalid && formControls['location_x'].touched">Location is required.</div>
    </div>
	<div>
      <label for="location_y">Location Y:</label>
      <input id="location_y" formControlName="location_y" type="number" />
      <div *ngIf="formControls['location_y'].invalid && formControls['location_y'].touched">Location is required.</div>
    </div>
    <button type="submit" [disabled]="createPostForm.invalid">Submit</button>

    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </form>
  <button (click)="back()">Back</button>
</html>

