<div class="post-container">
<div *ngFor="let post of posts" class="post">
	<div>
  <span style = "font-size : 1.2rem; font-weight : bold">{{ post.owner }}</span>
  on {{ post.location_x }}, {{ post.location_y }} posted on {{ post.time }}:
	</div>
  <p></p>
  <hr>
  <hr>
  <img class="post-image"
       [src]="'http://localhost:8091/' + post.imagePath"
       alt="Post image"
       width="300"
       />
  <p></p>
  <div>{{ post.content }}</div>
  <button (click)="like()">Like</button>
  <button (click)="comment()">Comment</button>
  <hr>
  <div>{{ post.likes.length || 0 }} users like this.</div>
  <hr>
  <label style = "font-size : 1.2rem; font-weight : bold">Comments:</label>
  <div *ngFor="let comment of post.comments">{{ comment.author }}: {{ comment.content }}</div>
  <hr>
  <p></p>
  <p></p>
</div>
</div>
