<html>
	<header>Login</header>
	<p></p>
	<form>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required/><br/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/><br/>

        <button type="submit">Login</button>
    </form>
		<mat-label>Not a user? Register here:</mat-label>
		<button mat-flat-button  (click) = "register()">Register</button>
		<p></p>
		<mat-label>...or continue as a guest:</mat-label>
		<button mat-flat-button (click) = "guestLogin()">Continue</button>
		<p></p>
	</form>
</html>